---
- name: Start {{ anarchy_subject_name }}
  when: current_state == "start-pending"
  include_tasks: run-start.yaml

- name: Check start of {{ anarchy_subject_name }}
  when: current_state == "starting"
  vars:
    tower_job_action: start
    tower_job_info: "{{ vars.anarchy_subject.status.tower_jobs.start }}"
  include_tasks: check-deployer-job.yaml
...
