---
- name: Set {{ anarchy_subject_name }} current state to provision-pending
  when: vars.anarchy_subject.spec.vars.current_state is undefined
  anarchy_subject_update:
    skip_update_processing: true
    metadata:
      labels:
        state: provision-pending
    spec:
      vars:
        current_state: provision-pending
        job_vars:
          cloud_provider: >-
            {{ anarchy_governor_job_vars.cloud_provider | default('none') }}
          platform: >-
            {{ anarchy_governor_job_vars.platform | default('RHPDS') }}
          uuid: >-
            {{ uuid | default((2**127) | random | to_uuid) }}

- name: Schedule provision for {{ anarchy_subject_name }}
  anarchy_schedule_action:
    action: provision
...
