---
- name: Schedule action based on current_state and desired_state
  vars:
    _current_state: "{{ current_state | default('unknown') }}"
    _desired_state: "{{ desired_state | default('unknown') }}"
    _current_job_vars: "{{ anarchy_subject_job_vars | default('unknown') }}"
    _previous_job_vars: "{{ anarchy_subject_previous_state_job_vars | default(_current_job_vars) }}"
    _action: >-
      {{
        'update' if _current_job_vars != _previous_job_vars else
        'start' if (_current_state == 'stopped' and _desired_state == 'started') else
        'stop' if (_current_state == 'started' and _desired_state == 'stopped') else
        'no action'
      }}
  when: _action in vars.anarchy_governor.spec.actions
  block:
  - name: Set {{ anarchy_subject_name }} current state to {{ _action }}-pending
    anarchy_subject_update:
      skip_update_processing: true
      metadata:
        labels:
          state: "{{ _action }}-pending"
      spec:
        vars:
          current_state: "{{ _action }}-pending"

  - name: Schedule {{ _action }} for {{ anarchy_subject_name }}
    anarchy_schedule_action:
      action: "{{ _action }}"
      cancel:
      - start
      - stop

- name: Schedule status action if check pending
  # Status check should be requested by setting the check_status_request_timestamp
  # Legacy support for requesting status by setting check_status_state to pending
  when: >-
    ((
      check_status_state == 'pending' and
      check_status_request_timestamp == ''
    ) or (
      check_status_request_timestamp != last_check_status_request_timestamp and
      check_status_state in ['', 'successful']
    )) and
    'status' in vars.anarchy_governor.spec.actions
  block:
  - name: Set {{ anarchy_subject_name }} check_status to false
    anarchy_subject_update:
      skip_update_processing: true
      spec:
        vars:
          check_status_state: pending

  - name: Schedule status check for {{ anarchy_subject_name }}
    anarchy_schedule_action:
      action: status
...
