---
# When destroy is disable and if it's a sandbox + destroy_catch_all is true,
# then delete placement from the sandbox API
# unless create was never handled an no uuid was ever assigned.
- when:
  - sandbox_api_in_use | bool
  - sandbox_api_destroy_catch_all | bool
  - uuid | default('') != ''
  include_tasks: sandbox_cleanup.yml

- name: Update state to destroyed for {{ anarchy_subject_name }} with no destroy action
  anarchy_subject_update:
    spec:
      vars:
        current_state: destroy-complete
        desired_state: destroyed

- name: Remove finalizers from {{ anarchy_subject_name }} with no destroy action
  anarchy_subject_delete:
    remove_finalizers: true
...
