---
# Get sandbox to get the credential and perform deployer job
- when: sandbox_api_in_use | bool
  include_tasks: sandbox_get.yaml

- name: Run deployer update {{ anarchy_subject_name }}
  vars:
    new_subject_state: updating
    job_template_playbook: "{{ deployer_entry_points['update'] }}"
    job_extra_vars: >-
      {{ anarchy_subject_job_vars | default({})
       | combine(anarchy_governor_job_vars, recursive=True)
       | combine(dynamic_job_vars, recursive=True)
       | ansible.utils.remove_keys(target=['__meta__'])
       | combine(__meta__.deployer.actions.update.extra_vars | default({"ACTION": "update"}))
       | combine({
         callback_url_var: anarchy_action_callback_url,
         callback_token_var: anarchy_action_callback_token,
       }, recursive=True)
      }}
  include_tasks:
    file: check-run-tower-job.yaml

- name: Schedule check for update of {{ anarchy_subject_name }}
  anarchy_continue_action:
    after: "{{ job_check_interval }}"
...
